<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="SQLConection" value="Data Source=.;Initial Catalog=Vueling;Integrated Security=True" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStudentWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50985/StudentWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentWebService"
        contract="StudentsServiceReference.IStudentWebService" name="BasicHttpBinding_IStudentWebService" />
    </client>
  </system.serviceModel>
</configuration>